@model ApplicationUser
<!-- Page Header-->
<header class="masthead" style="background-image: url('../../assests/img/home-bg.jpg'); padding-bottom: 1rem;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<h2>User Details</h2>

<div class="card" style="max-width: 400px;">
    <div class="card-body">
        <dl class="row">
            @* <dt class="col-sm-4">ID</dt>
            <dd class="col-sm-8">@Model.Id </dd> *@

            <dt class="col-sm-4">User Name</dt>
            <dd class="col-sm-8">@Model.UserName</dd>

            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">@Model.Email</dd>

            <dt class="col-sm-4">Phone Number</dt>
            <dd class="col-sm-8">@Model.PhoneNumber</dd>

            <dt class="col-sm-4">Name</dt>
            <dd class="col-sm-8">@Model.Name</dd>
        </dl>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
